extends layout

block content

    div.row
        div.col-md-4.col-md-offset-2
                a(class="btn" href="/auth/google") Sign In with Google 
        div.col-md-4
                a(class="btn" href='/tests') Launch Latency Tests
