html
  head
    title= title
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/appclient.js')
    link(href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/app.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css')

  body
    #header
        p.user Hello, #{user}
        h3.title cosc 465 network speed test (project 8)

    block content
