extends layout

block content
    div#testcontrol
        /*h3.littleheader Run Tests*/  

    div.row
        div.col-md-3.col-md-offset-4        
                a(class="btn" href="/") Home
        div.col-md-2
                a#startping(class="btn" href="#") Run Tests
        
        h3.header.pinkblock Test Results
        #test1.pinkblock
        #test2.pinkblock
        #test3.pinkblock
        #test4.pinkblock
        #test5.pinkblock
        #finaltest.pinkblock
        
    div#status
